/data/qvim-eval/
/data/VimSketch/
/notebooks/2DFT/
/notebooks/2DFT/MCFT/
/notebooks/MN/
/notebooks/resources/ct_nt_xent_fold4mn10d10s32_01.pt
/notebooks/resources/mn10_as_mAP_471.pt
resources/mn10_as_mAP_471.pt

.idea
build
.DS_Store
__MACOSX
data/*.zip
data/Vim_Sketch_Dataset
data/qvim-dev

qvim


*.egg-info
__pycache__
wandb